body,html{
	padding:0;
	margin: 0;
}

body{
	background-color: #34495e;
}

.form-group{
	background-color: #ecf0f1;	
	font-family: sans-serif;
	font-weight: lighter;
	margin-bottom: 10px;
}

.form-group label{
	display: inline-block;	
	width: 20%;	
	text-align: right;
}

.form-group input{
	border:0;
	width: 70%;	
	background-color: inherit;	
	font-weight: lighter;
}

.message{
	height: 40px;
	line-height: 40px;
	vertical-align: center;
	text-align: center;
	color: #ecf0f1;
	font-size: 20px;
	font-weight:lighter;
	font-family: sans-serif;
}

	.success{		
		background-color: #2ecc71;		
	}

	.fail{		
		background-color: #c0392b;	
	}

.form-component{
	font-size: 20px;
	height: 32px;
	font-size: 20px;
	font-family: inherit;
	color:#2c3e50;
}

.button{
	background-color: #2ecc71;	
	border: 0;
	font-size:18px;
	font-family: sans-serif;
	width: 100px;	
	font-weight: lighter;
}

.title{
	font-weight: lighter;
}

.block{
	display: block;
	width: 100%;
}





	
