header{
	background-color: #ecf0f1;
	width: 100%;
	height: 40px;
	position: fixed;	 	
	top:0;		
	text-align: center;	
}

header h3{	
	color: #2c3e50;
	vertical-align: center;
	float: left;

}

#table{	
	width: 90%;
	margin:0 auto;
	margin-top: 80px;
	-webkit-box-shadow: 1px 6px 8px 0px rgba(0, 0, 0, 0.57);
	-moz-box-shadow:    1px 6px 8px 0px rgba(0, 0, 0, 0.57);
	box-shadow:         1px 6px 8px 0px rgba(0, 0, 0, 0.57);
}

#table .table-row:nth-child(odd) {
   	background-color: #ecf0f1;
}

.table-row{
	background-color: #bdc3c7;
	margin:0;
	height: 30px;
	padding: 2px;
}

.table-column{
	font-family: sans-serif;
	font-weight: lighter;
}

.table-row .table-column:nth-child(1){
	text-align: center;
	width: 30%;
}

.table-row .table-column:nth-child(2){
	text-align: center;
	width: 30%;
}

.table-row .table-column:nth-child(3){
	text-align: center;
	width: 20%;
}

.table-row .table-column:nth-child(4){
	text-align: center;
	float:right;
	width: 10%;
}

.table-column{
	list-style: none;
	display: inline-block;
}


.button-add{
	float: left;
	vertical-align: bottom;
	width: auto;
	height: 100%;
	margin-right: 15px;
}

.list-button{
	height: 30px;
	line-height: 30px;
	vertical-align: center;
	cursor: pointer;
}
	.list-button a{
		color: inherit;
		text-decoration: none;
	}

.delete{
	background-color: #c0392b;	
	color: #ecf0f1;	
}	

.update{
	background-color: #3498db;	
	color: #ecf0f1;
	height: 30px;
	line-height: 30px;
	vertical-align: center;
	cursor: pointer;
}